header {
  color: red;
  background-color: #fafafa;
  margin: 10px;
  padding: 50px;
}

p {
  color: rgb(90, 255, 100);
  background-color: beige;
  padding: 50px;
  margin: 10px;
}

.box {
  width: 200px;
  height: 200px;
  border: 3px solid gray;
  margin: 0 auto;
}
