header h1 {
  text-decoration: underline;
  text-transform: uppercase;
}

nav {
  background-color: #3d8361;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  text-transform: capitalize;
  list-style: none;
  text-decoration: none;
  padding: 10px;
}

nav li:hover {
  background-color: #002b23;
}

ul li a {
  text-decoration: none;
  letter-spacing: 5px;
}

li a:hover {
  color: aqua;
}
