header {
  width: 100vh;
  background-color: #3d8361;
  padding: 20px 10px;
  text-align: center;
}

header h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.fas {
  color: #ffff;
  font-size: 30px;
  width: 30px;
}

p {
  width: 100vh;
  text-align: center;
  background-color: bisque;
}
